<html xmlns:th="" xmlns:layout=""
      layout:decorator="_layouts/default">
<head>
    <title th:text="#{title.tag}"></title>
</head>
<body>

<div layout:fragment="content">

<form th:action="@{/tag/create-save}" th:object="${tagCreateForm}" method="post">
    <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Error</div>

    <div th:replace="_fragments/form :: input-text(field = 'name', label = #{tag.name})"></div>

    <button type="submit" class="btn btn-primary"><i th:replace="_fragments/fa :: fa-fw(check)"></i>&#160;<span th:text="#{general.save}"></span></button>
</form>

</div>

</body>
</html>
