<html xmlns:th="" xmlns:layout=""
    layout:decorator="_layouts/default">
<head>
  <title th:text="#{title.tag}"></title>
</head>
<body>

<div layout:fragment="content">

<div layout:include="_fragments/form :: form-normal(url=@{/tag/update-save}, form='tagUpdateForm')">
  <div layout:fragment="form-content">
    <input type="hidden" th:field="*{id}" />

    <div th:replace="_fragments/form :: input-text(field = 'name', label = #{tag.name}, autofocus = true)"></div>
  </div>
</div>

</div>

</body>
</html>
