<html xmlns:th="" xmlns:layout=""
      layout:decorator="_layouts/default">
<head>
    <title th:text="#{title.task.index}"></title>
</head>
<body>
<div layout:fragment="content">

<div><a th:href="@{/logout}" th:text="#{logout}"></a></div>

<div class="pull-right">
    <a th:href="@{/task/create}" class="btn btn-primary"><i class="fa fa-plus"></i> <span th:text="#{task.create}"></span></a>
</div>

<table class="table-normal">
    <thead>
    <tr>
        <th th:text="#{task.name}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${tasks}">
        <td th:text="${entity.name}"></td>
    </tr>
    </tbody>
</table>

<nav th:replace="_fragments/pagination :: pagination(page=${tasks}, url=@{/task})"></nav>

</div>

</body>
</html>
