<html xmlns:th="" xmlns:layout=""
      layout:decorator="_layouts/default">
<head>
    <title th:text="#{title.task.index}"></title>
</head>
<body>

<div layout:fragment="content">

<form th:action="@{/task/update-save}" th:object="${taskUpdateForm}" method="post">
    <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Error</div>

    <input type="hidden" th:field="*{id}" />

    <div th:replace="_fragments/form :: input-text(field = 'name', label = #{task.name})"></div>

    <button type="submit" class="btn btn-primary" th:text="#{general.save}"></button>
</form>

</div>

</body>
</html>
