<html xmlns:th="" xmlns:layout=""
    layout:decorator="_layouts/default">
<head>
  <title th:text="#{title.task.index}"></title>
</head>
<body>

<div layout:fragment="content">

<form th:action="@{/task/update-save}" th:object="${taskUpdateForm}" method="post">
  <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Error</div>

  <input type="hidden" th:field="*{id}" />

  <div th:replace="_fragments/form :: input-text(field = 'name', label = #{task.name}, autofocus = true)"></div>

  <div th:replace="_fragments/form :: select-normal (field = 'status', label = #{task.status}, options = 'allTaskStatus', optionValue = 'code')"></div>

  <div th:replace="_fragments/form :: select-multi (field = 'tags', label = #{task.tag}, placeholder = #{tag.select-some-tags}, options = 'myTags', optionValue = 'id', optionText = 'name')"></div>

  <button class="btn btn-default submit" th:attr="data-action=@{/task/today}"><i th:replace="_fragments/fa :: fa-fw(remove)"></i>&#160;<span th:text="#{general.cancel}"></span></button>
  <button type="submit" class="btn btn-primary"><i th:replace="_fragments/fa :: fa-fw(check)"></i>&#160;<span th:text="#{general.save}"></span></button>
</form>

</div>

</body>
</html>
