<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="ERROR_LEVEL_REMAPPER" class="org.springframework.boot.logging.logback.LevelRemappingAppender">
        <remapLevels>ERROR->WARN</remapLevels>
    </appender>

    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" additivity="false">
        <appender-ref ref="ERROR_LEVEL_REMAPPER"/>
    </logger>
</configuration>
